
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600&display=swap')

body
  margin: 0
  .App
    background: #312F37
  .container
    display: grid
    gap: 2rem
    grid-template-columns: repeat(auto-fill , minmax(18rem, 3fr))
    padding: 40px 40px